[Desktop Entry]
Type=Application
Version=1.0
Name=Install Guideos
GenericName=Calamares Installer
Exec=calamares-install-guideos
Comment=Calamares — Installer for Guideos Live
Keywords=calamares;system;install;guideos;installer
Icon=install-guideos
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
